<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: October 23rd, 2016
	Description: Feedback page placeholder for Preliminator demo -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>Preliminator Demo</title>           
	<!--<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />-->
 	
</head>

<body class="align">
	<div class="site__container">
	<div class="grid__container">
    
    <div id = "header">
		<h1>Preliminator Demo: Feedback Page Placeholder </h1>
	</div>

	<div ng-hide="">
		{% if results %}

		<table style="padding: 5px; font-size:150%" id="Products">

		<tr style = "font: bold">
		<th> Feedback ID </th>
		<th> Feedback Target </th>
		<th> Feedback Content </th>
		</tr>

		{% for f in feedback %}

		<tr>
		<td> {{ f.feedback_id }} </td>
		<td> {{ f.feedback_target }} </td>
		<td> {{ f.feedback_content }} </td>
		</tr>

		{% endfor %}
		{% endif %}
	</table>
	</div>
	
	<div id = "index body">
		<p><a href="/post_survey.html">Return to Demo Index</a></p>
		
	</div>

</body>
</html>