<!DOCTYPE html>
<!-- Sara Lichtenstein, Home Page -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dialogue System Examples</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Titillium+Web:200,300,400,600,700');
    .new-font{
       font-family: "Titillium Web";
    }
  </style>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand new-font" href="#">Dialogue System Examples</a>
          </div>

          <div id="navbar" class="new-font navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/index.html">Home</a></li>
              <li><a href="#">Sign In</a></li>
              <li><a href="/candidate_form.html">Demo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Configuration<span class="sr-only">(current)</span></a></li>
              <li><a href="/about_team.html">About the Team</a></li>
              <li><a href="#">About the Preliminator</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="new-font container">
        <div class="jumbotron">
          <h1>The Preliminator</h1>
          <p class="lead">A new way of recruiting</p>
          <p class="lead">
          <a class="btn btn-primary btn-lg" href="/demo/candidate_form.html" role="button">Run Demo</a>
          </p>
        
        <p>Welcome to the Preliminator! Click the demo button to begin your interview prep. </p>
        <p>Have a question, comment, or concern? Learn about <a href="/about_team.html">our team</a> and contact us. </p>
        </div>
      </div>

      <div class="new-font container">
        <div class="jumbotron">
          <h1>Compling DialogueSys</h1>
          <a class="btn btn-primary btn-lg" href="dialg/chat.html" role="button">Run Demo</a>
          </p>
        
        <p>Placeholder for the Compling Dialogue System description. </p>
        </div>
      </div>


      <div class="new-font container">
        <footer class="footer">
          <p>&copy; 2017, Dax Gerts</p>
        </footer>
      </div>

    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
