<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: October 23rd, 2016
	Description: Index page placeholder for Preliminator demo -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>Preliminator Demo</title>           
	<!--<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />-->
 	
</head>

<body class="align">
	<div class="site__container">
	<div class="grid__container">
    
    <div id = "header">
		<h1>Preliminator Demo: Index Placeholder </h1>
	</div>

	<div id = "subheader">
		<h2>For Demo Users</h2>	
	</div>

	<div id = "index body">
		<p><a href="/candidate_form">Candidate Form</a></p>
		
	</div>

</body>
</html>