<!DOCTYPE HTML>
<html lang="en">
<!--Post Survey Page
HTML by Sara Lichtenstein, Django/Python by Dax Gerts-->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>The Preliminator</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The Preliminator</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/index.html">Home</a></li>
              <li><a href="#">Sign In</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Configuration<span class="sr-only">(current)</span></a></li>
              <li><a href="/about_team.html">About the Team</a></li>
              <li><a href="#">About the Preliminator</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="container">
        <div class="jumbotron">
          <h1>Thank You for Choosing The Preliminator</h1>
          <p class="lead">Please answer these questions about your experiences with our system.</p> 
        </div>
      </div>

    <div class="container">
      {{ state }}
       <form action="/post_survey/" method="post" class="form form--login"/>{% csrf_token %}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}"/>
      {% endif %}

      {{ form.non_field_errors}}
      <div class="form__field">
            {{ form.questionOneResponse.errors }}
            {{ form.questionOneResponse.label_tag }}
            <label class="fontawesome-user" for="survey_questionOneResponse"><span class="hidden">Question 1: This system has sustained or fostered my interest in using dialogue systems to help me with tasks.</span></label>
            {{ form.questionOneResponse}}
          </div>

      <div class="form__field">
            {{ form.questionTwoResponse.errors }}
            {{ form.questionTwoResponse.label_tag }}
            <label class="fontawesome-user" for="survey_questionTwoResponse"><span class="hidden">Question 2: If I had the chance, I would use this system again in order to prepare for interviews.</span></label>
            {{ form.questionTwoResponse}}
          </div>

      <div class="form__field">
            {{ form.questionThreeResponse.errors }}
            {{ form.questionThreeResponse.label_tag }}
            <label class="fontawesome-user" for="survey_questionThreeResponse"><span class="hidden">Question 3: I am confident this system understood me a majority of the time.</span></label>
            {{ form.questionThreeResponse}}
          </div>

          <div class="form__field">
            {{ form.questionFourResponse.errors }}
            {{ form.questionFourResponse.label_tag }}
            <label class="fontawesome-user" for="survey_questionFourResponse"><span class="hidden">Question 4: This system was easy to use.</span></label>
            {{ form.questionFourResponse}}
          </div>

          <div class="form__field">
            {{ form.questionFiveResponse.errors }}
            {{ form.questionFiveResponse.label_tag }}
            <label class="fontawesome-user" for="survey_questionFiveResponse"><span class="hidden">Question 5: I believe my previous experience helped me use this dialogue system.</span></label>
            {{ form.questionFiveResponse}}
          </div>

      <div class="form__field">
            <input type="submit" value="Go Back To Home Page"/>
          </div>

      <div class="container">
        <footer class="footer">
          <p>&copy; 2016 Company, Inc.</p>
        </footer>
      </div>
    </div>

  </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
